<%= content_for :js_script do %> 
   <!-- Select2 -->
    <script>
        $(function(){
            $('.selectpicker').selectpicker();
        });    
    </script>
<% end %>

<%= form_for([:admin, @invited_guest], html: {class: "form-horizontal"}) do |f| %>
    <% if @invited_guest.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@invited_guest.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @invited_guest.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Nama<span style="color: red">*</span></label>
        </div>
        <div class="col-md-10">
            <%= f.text_field :name, class: "form-control", :required => true %>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">No Telepon<span style="color: red">*</span></label>
        </div>
        <div class="col-md-10">
            <%= f.text_field :phone, class: "form-control", :required => true %>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Email<span style="color: red">*</span></label>
        </div>
        <div class="col-md-10">
            <%= f.text_field :email, class: "form-control", :required => true %>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Total Tamu<span style="color: red">*</span></label>
        </div>
        <div class="col-md-10">
            <select class="form-control selectpicker" id="invited_guest_total_guest" name="invited_guest[total_guest]">
                <option value="">-- Jumlah Tamu --</option>
                    <option value="1">1</option>                    
                    <option value="2">2</option>                    
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Status Kedatangan<span style="color: red">*</span></label>
        </div>
        <div class="col-md-10">
            <select class="form-control selectpicker" id="invited_guest_checkin" name="invited_guest[checkin]">
                <option value="">-- Status Kedatangan --</option>
                    <option value="0">Tidak Datang</option>                    
                    <option value="1">Datang</option>                    
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Jam Datang<span style="color: red">*</span></label>
        </div>
        <div class="col-md-4">
            <label class="input-group">
                <%= f.select :start_invitation_hour, Weeding::HOURS, {}, {'data-placeholder': '--Pilih Jam Selesai Meeting--', class: 'form-control selectpicker', 'data-live-search': 'true'} %>
                <span class="input-group-addon">
                    <i class="icmn-clock"></i>
                </span>
            </label>                                
        </div>
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Jam Selesai<span style="color: red">*</span></label>
        </div>
        <div class="col-md-4">
            <label class="input-group">
                <%= f.select :end_invitation_hour, Weeding::HOURS, {}, {'data-placeholder': '--Pilih Jam Selesai Meeting--', class: 'form-control selectpicker', 'data-live-search': 'true'} %>
                <span class="input-group-addon">
                    <i class="icmn-clock"></i>
                </span>
            </label>                                
        </div>
    </div>    

    <div class="form-group row">
        <div class="col-md-12">
            <label class="form-control-label" style="color: red">*required</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12"></div>
    </div>
    <!-- skip: reset_password_token, reset_password_sent_at, remember_created_at -->


    <% if params[:action] == "new" || params[:action] == "create" %>
        <%= f.hidden_field :created_by, :value => current_user.id %>   
    <% else %>
        <%= f.hidden_field :updated_by, :value => current_user.id %>
    <% end %>

    <button type="submit" class="btn btn-sm btn-primary">
        Submit
    </button>
    <% end %>
    
<%= content_for :css do %>

<% end %>

<%= content_for :js do %>
    
<% end %>  