<section class="page-content">
<div class="page-content-inner">

    <!--  -->
    <section class="panel">
        <div class="panel-heading">
            <h3>
                Daftar Daftar Undangan
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                      <%= link_to '<i class="icon-plus icon-white"></i>Create New'.html_safe, new_admin_invited_guest_path, class: "btn btn-sm btn-info" %>                    
                    <div class="col-xs-12">&nbsp;</div>
                    <br/>
                    <div class="margin-bottom-50">                        
                        <table class="table table-hover nowrap" id="example1" width="100%">
                          <thead>
                            <tr>
                              <th>Nama</th>
                              <th>Total Tamu</th>
                              <th>Kehadiran</th>
                              <th>Aksi</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @invited_guests.each do |invited_guest| %>
                              <tr>
                                <td><%= link_to invited_guest.name,admin_invited_guest_path(invited_guest) %></td>
                                <td><%= invited_guest.total_guest %></td>
                                <td><%= invited_guest.attend %></td>
                                <td>
                                  <%= link_to edit_admin_invited_guest_path(invited_guest) do %>
                                    <i class="fa fa-edit"></i>
                                  <% end %>
                                  <%= link_to admin_invited_guest_path(invited_guest), method: :delete, data: {confirm: "are you sure?"} do %>
                                    <i class="fa fa-trash"></i>
                                  <% end %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End  -->

</div>
</section>