<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="/user_groups/<%= params[:id] %>/edit" class="btn btn-white btn-xs float-right">
                                  Edit Data User Group <i class="fa fa-edit"></i>
                                </a>
                                <a href="/user_groups" class="btn btn-white btn-xs float-right">
                                  Back <i class="fa fa-back"></i>
                                </a>
                                <h2>Data User Group</h2>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Informasi Master Institution -->
                            <h4 class="mb-0 m-t-md text-navy text-uppercase">Informasi User Group</h4>
                            <hr class="mb-1 m-t-xs">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right"><dt>Name:</dt> </div>
                                <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @user_group.name %></dd></div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right"><dt>Description:</dt> </div>
                                <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @user_group.description %></dd></div>
                            </dl>
                        </div>                        
                    </div>
                    <div class="col-xs-12">&nbsp;</div>                    
                </div>
            </div>
        </div>
    </div>
</div>