<%= form_for([:admin, @user_group], html: {class: "form-horizontal"}) do |f| %>
<% if @user_group.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user_group.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>

    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">Nama<span style="color: red">*</span></label>
        </div>
        <div class="col-md-9">
            <%= f.text_field :name, class: "form-control", :required => true %>
        </div>
    </div> 
    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">Super Admin<span style="color: red">*</span></label>
        </div>
        <div class="col-md-9">
            <label class="radio-inline">
                <input type="radio" name="user_group[super]" id="user_group_super_1" value="1" <%= @user_group.super == 1 ? "checked" : "" %>> Yes </label>
                <label class="radio-inline">
                <input type="radio" name="user_group[super]" id="user_group_super_0" value="0" <%= @user_group.super == 0 ? "checked" : "" %>> No </label>
        </div>
    </div>  
    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">Hak Akses<span style="color: red">*</span></label>
        </div>
        <div class="col-md-9">
            <% current_controller = "" %>
            <% ActionModel.all.each do |action_model| %>
                <% if action_model.controller_model.name != current_controller %>
                    <% current_controller = action_model.controller_model.name %>
                    <div style="float:left; width:90%; margin-top:20px;margin-bottom:5px;font-family:Arial">
                        <label for="">
                            <b><%= current_controller %></b>
                        </label>
                    </div>
                <% end %>
                <div style="float:left; width:40%;">
                    <%= check_box_tag "user_group[action_model_ids][]", action_model.id, @user_group.action_models.include?(action_model),{class: "priviledges-checkbox children-#{action_model.controller_model.id}"} %>
                    <%= action_model.name %>
                </div>
            <% end %>
        </div>
    </div> 
    <div class="form-group row">
        <div class="col-md-12">
            <label class="form-control-label" style="color: red">*required</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12"></div>
    </div>
    <!-- skip: reset_password_token, reset_password_sent_at, remember_created_at -->


    <% if params[:action] == "new" || params[:action] == "create" %>
        <%= f.hidden_field :created_by, :value => current_user.id %>   
    <% else %>
        <%= f.hidden_field :updated_by, :value => current_user.id %>
    <% end %>

    <button type="submit" class="btn btn-sm btn-primary">
        Submit
    </button>
    <% end %>
    
<%= content_for :css do %>

<% end %>

<%= content_for :js do %>
    
<% end %>  