<!-- Dashboard  -->
<div class="dashboard-container">
    <div class="widget widget-four background-transparent">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block ">
                    <span class="step-digit">
                        <i class="icmn-user-plus2"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Total Undangan</span>
                        <p>
                            Total: <%= @transaction_count %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block">
                    <span class="step-digit">
                        <i class="icmn-user3"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Total Tamu Hadir</span>
                        <p>Total: <%= @transaction_month_count %></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block">
                    <span class="step-digit">
                        <i class="icmn-user5"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Total Tamu Tidak Hadir</span>
                        <p>
                            Total: <%= @purchase_count %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block">
                    <span class="step-digit">
                        <i class="icmn-stats-dots"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Total Pembelian Bulan ini</span>
                        <p>                            
                            Total: <%= @purchase_month_count %>                            
                        </p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block ">
                    <span class="step-digit">
                        <i class="icmn-user-plus2"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Total Vendor</span>
                        <p>
                            Total: <%= @vendor %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block">
                    <span class="step-digit">
                        <i class="icmn-user3"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Total Client</span>
                        <p>
                            Total: <%= @client %>
                        </p>                        
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block">
                    <span class="step-digit">
                        <i class="icmn-hammer-wrench"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Total Jenis Service</span>
                        <p>
                            Total: <%= @service %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block">
                    <span class="step-digit">
                        <i class="icmn-cogs"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Total Jenis Sparepart</span>
                        <p>
                            Total: <%= @sparepart %>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <section class="page-content">
<div class="page-content-inner">

    <!--  -->
    
    <!-- End  -->

</div>
</section>

</div>
<br><br><br>
<br><br><br>
<!-- Page Scripts -->
<script>
   
</script>

<!-- End Dashboard
