<%= form_for([:admin, @groom], html: {class: "form-horizontal"}) do |f| %>
<% if @groom.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@groom.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @groom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>

    <div class="col-md-6">
        <h5 class="panel-title">Pria</h5>
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-control-label" for="l0">Nama<span style="color: red">*</span></label>
            </div>
            <div class="col-md-9">
                <%= f.text_field :name, class: "form-control" %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-control-label" for="l0">Nama Ayah<span style="color: red">*</span></label>
            </div>
            <div class="col-md-9">
                <%= f.text_field :father_name, class: "form-control" %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-control-label" for="l0">Nama Ibu<span style="color: red">*</span></label>
            </div>
            <div class="col-md-9">
                <%= f.text_field :mother_name, class: "form-control" %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-control-label" for="l0">Ceritakan tentan anda<span style="color: red">*</span></label>
            </div>
            <div class="col-md-9">
                <%= f.text_area :qoute, class: "form-control" %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12"></div>
        </div>
        <!-- skip: reset_password_token, reset_password_sent_at, remember_created_at -->
    </div>

    <div class="col-md-6">
        <h5 class="panel-title">Wanita</h5>
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-control-label" for="l0">Nama<span style="color: red">*</span></label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name_bride" value="<%= @bride.name %>"/>
            </div>
        </div>        
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-control-label" for="l0">Nama Ayah<span style="color: red">*</span></label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" name="father_name_bride" value="<%= @bride.father_name %>"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-control-label" for="l0">Nama Ibu<span style="color: red">*</span></label>
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" name="mother_name_bride" value="<%= @bride.mother_name %>"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label class="form-control-label" for="l0">Ceritakan tentan anda<span style="color: red">*</span></label>
            </div>
            <div class="col-md-9">
                <textarea class="form-control" name="qoute_bride">
                <%= @bride.qoute %>
                </textarea>
            </div>
        </div>
        <input type="hidden" name="bride_id" value="<%= @bride.id %>"/>
        <div class="form-group row">
            <div class="col-md-12"></div>
        </div>
        <!-- skip: reset_password_token, reset_password_sent_at, remember_created_at -->
    </div>

    <% if params[:action] == "new" || params[:action] == "create" %>
        <%= f.hidden_field :created_by, :value => current_user.id %>   
    <% else %>
        <%= f.hidden_field :updated_by, :value => current_user.id %>
    <% end %>

    <button type="submit" class="btn btn-sm btn-primary">
        Submit
    </button>
    <% end %>
    
<%= content_for :css do %>

<% end %>

<%= content_for :js do %>
    
<% end %>  