<!-- Panel with Borders -->
<section class="panel panel-with-borders">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <a href="/admin/grooms/<%= @groom.id %>/edit" class="btn btn-white btn-xs float-right">
                        Edit Data Pengantin <i class="fa fa-edit"></i>
                    </a>
                    <a href="/user_groups" class="btn btn-white btn-xs float-right">
                        Back <i class="fa fa-back"></i>
                    </a>
                    <h2>Data Pengantin</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <!-- Informasi Master Institution -->
                <center><h4 class="mb-0 m-t-md text-navy text-uppercase">Informasi Pengantin Pria</h4></center>
                <hr class="mb-1 m-t-xs">
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Nama:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @groom.name ? @groom.name : '-' %></dd></div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Nama Ayah:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @groom.father_name ? @groom.father_name : '-' %></dd></div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Nama Ibu:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @groom.mother_name ? @groom.mother_name : '-' %></dd></div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Kutipan Pengantin Pria:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @groom.qoute ? @groom.qoute : '-' %></dd></div>
                </dl>
            </div>
            <div class="col-lg-6">
                <!-- Informasi Master Institution -->
                <center><h4 class="mb-0 m-t-md text-navy text-uppercase">Informasi Pengantin Wanita</h4></center>
                <hr class="mb-1 m-t-xs">
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Name:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @bride.name ? @bride.name : '-' %></dd></div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Nama Ayah:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @bride.father_name ? @bride.father_name : '-' %></dd></div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Nama Ibu:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @bride.mother_name ? @bride.mother_name : '-' %></dd></div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Kutipan Pengantin Wanita:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @bride.qoute ? @bride.qoute : '-' %></dd></div>
                </dl>
            </div>                        
        </div>
    </div>    
</section>
<!-- End Panel with Borders -->

<!-- Panel with Borders -->
<section class="panel panel-with-borders">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <a href="/admin/weedings/<%= @weeding.id %>/edit" class="btn btn-white btn-xs float-right">
                        Edit Data Informasi Acara <i class="fa fa-edit"></i>
                    </a>
                    <a href="/user_groups" class="btn btn-white btn-xs float-right">
                        Back <i class="fa fa-back"></i>
                    </a>
                    <h2>Data Pernikahan</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <!-- Informasi Master Institution -->
                <center><h4 class="mb-0 m-t-md text-navy text-uppercase">Informasi Acara Pernikahan</h4></center>
                <hr class="mb-1 m-t-xs">
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Tanggal Pernikahan:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @weeding.start_date ? @weeding.start_date.strftime("%d-%B-%Y") : '-' %></dd></div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Jam Acara:</dt> </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">
                            <%= @weeding.start_time ? "%02d" % @weeding.start_time : '-' %>:00  - <%= @weeding.end_time ? "%02d" % @weeding.end_time : '-' %>:00
                        </dd>
                    </div>

                </dl>                
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right"><dt>Jumlah Tamu:</dt> </div>
                    <div class="col-sm-8 text-sm-left"><dd class="mb-1"><%= @weeding.number_guest ? @weeding.number_guest : '-' %></dd></div>
                </dl>               
            </div>                                   
        </div>        
    </div>    
</section>
<!-- End Panel with Borders -->

    <!-- Gallery -->
    <section class="panel panel-with-borders">
        <div class="panel-heading">
            <div class="heading-buttons pull-right">
                <a href="/admin/weeding_photos/new?weeding_id=<%= @weeding.id %>" class="btn btn-primary">
                    <i class="icmn-plus3"></i>
                    Add Picture
                </a>
            </div>
            <h3>Gallery</h3>
        </div>
        <div class="panel-body">
            <div class="app-gallery clearfix">
                <% @weeding.weeding_photos.each do |weeding_photo| %>
                    <% if(weeding_photo.order == 1) %>                    
                        <div class="app-gallery-item edit" style="background-image: url(<%= url_for(weeding_photo.image) %>)">
                            <div class="app-gallery-item-hover">
                                <div class="btn-group margin-inline">
                                    <%= link_to admin_weeding_photo_path(weeding_photo), class: "btn", method: :delete, data: {confirm: "are you sure?"} do %>
                                        <i class="icmn-bin3"></i>
                                    <% end %>
                                </div>
                            </div>
                        </div>                        
                    <%else%>
                        <div class="app-gallery-item" style="background-image: url(<%= url_for(weeding_photo.image) %>)">
                            <div class="app-gallery-item-hover">
                                <div class="btn-group margin-inline">
                                    <%= link_to admin_weeding_photo_path(weeding_photo), class: "btn", method: :delete, data: {confirm: "are you sure?"} do %>
                                        <i class="icmn-bin3"></i>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <%end%>
                <%end%>
                <%# <div class="app-gallery-item edit" style="background-image: url(/backend/common/img/temp/photos/1.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/2.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/3.jpeg)"></div>
                <div class="app-gallery-item edit" style="background-image: url(/backend/common/img/temp/photos/5.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item edit" style="background-image: url(/backend/common/img/temp/photos/6.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/7.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/4.jpeg)"></div>
                <div class="app-gallery-item edit" style="background-image: url(/backend/common/img/temp/photos/5.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/6.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/7.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/1.jpeg)"></div>
                <div class="app-gallery-item edit" style="background-image: url(/backend/common/img/temp/photos/2.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item edit" style="background-image: url(/backend/common/img/temp/photos/3.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/5.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/6.jpeg)"></div>
                <div class="app-gallery-item edit" style="background-image: url(/backend/common/img/temp/photos/7.jpeg)">
                    <div class="app-gallery-item-hover">
                        <div class="btn-group margin-inline">
                            <button type="button" class="btn">
                                <i class="icmn-pencil7"></i>
                            </button>
                            <button type="button" class="btn">
                                <i class="icmn-bin3"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/4.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/5.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/6.jpeg)"></div>
                <div class="app-gallery-item" style="background-image: url(/backend/common/img/temp/photos/7.jpeg)"></div> %>
            </div>
        </div>
    </section>
    <!-- End Gallery -->

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    
                    
                    
                    
                   

                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>
                    <div class="col-xs-12">&nbsp;</div>                    
                </div>
            </div>
        </div>
    </div>
</div>