<nav class="left-menu" left-menu>
    <div class="logo-container">
        <a href="/" class="logo">
            <img src="/backend/common/img/logo.png" alt="Clean UI Admin Template" />
            <img class="logo-inverse" src="/backend/common/img/logo-inverse.png" alt="Clean UI Admin Template" />
        </a>
    </div>
    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
            <li <%= params[:controller] == "homes" ? " class=left-menu-list-active" : " class=left-menu-list" %>>
                <a class="left-menu-link" href="/admins">
                    <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                    <span class="menu-top-hidden">Dashboard</span>
                </a>
            </li>                
            <li class="left-menu-list-separator"><!-- --></li>            
            <li <%= params[:controller] == "invited_guests" ? " class=left-menu-list-active" : " class=left-menu-list" %>>
                <a class="left-menu-link" href="/admin/invited_guests">
                    <i class="left-menu-link-icon icmn-user-plus2"><!-- --></i>
                    <span class="menu-top-hidden">Daftar Undangan</span>
                </a>
            </li>
            <li <%= params[:controller] == "brides" || params[:controller] == "grooms" ? " class=left-menu-list-active" : " class=left-menu-list" %>>
                <a class="left-menu-link" href="/admin/grooms?user_id=<%= current_user.id %>">
                    <i class="left-menu-link-icon icmn-user-plus2"><!-- --></i>
                    <span class="menu-top-hidden">Data Pengantin</span>
                </a>
            </li>
            <li <%= params[:controller] == "reports" ? "  class=left-menu-list-active" : " class=left-menu-list-submenu" %>>
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-notebook util-spin-delayed-pseudo"><!-- --></i>
                    Laporan
                </a>                         
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="/reports_transactions">
                            <i class="left-menu-link-icon"><!-- --></i>
                            Penjualan
                        </a>                            
                        <a class="left-menu-link" href="/reports_purchases">
                            <i class="left-menu-link-icon"><!-- --></i>
                            Pembelian
                        </a>                            
                    </li>                    
                </ul>                               
            </li> 

            <li <%= params[:controller] == "users" || params[:controller] == "vendor_types" ? "  class=left-menu-list-active" : " class=left-menu-list-submenu" %>>
                <a class="left-menu-link" href="javascript: void(0);">
                    <i class="left-menu-link-icon icmn-cog util-spin-delayed-pseudo"><!-- --></i>
                    Pengaturan
                </a>                         
                <ul class="left-menu-list list-unstyled">
                    <li>
                        <a class="left-menu-link" href="/admin/users">
                            <i class="left-menu-link-icon"><!-- --></i>
                            Daftar User
                        </a>                                                                           
                    </li>
                    <li>
                        <a class="left-menu-link" href="/admin/user_groups">
                            <i class="left-menu-link-icon"><!-- --></i>
                            Daftar User Group
                        </a>                                                                           
                    </li>                    
                </ul>                               
            </li>                
        </ul>
    </div>
</nav>