<%= form_for([:admin, @weeding], html: {class: "form-horizontal"}) do |f| %>
    <% if @weeding.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@weeding.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @weeding.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>
    
    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Tanggal Acara<span style="color: red">*</span></label>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="input-group datepicker-only-init">
                    <%= f.text_field :start_date, class: "form-control", :required => true%>                    
                    <span class="input-group-addon">
                        <i class="icmn-calendar"></i>
                    </span>
                </label>
            </div>
        </div>
    </div>    

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Jam Mulai<span style="color: red">*</span></label>
        </div>
        <div class="col-md-4">
            <label class="input-group">
                <%= f.select :start_time, Weeding::HOURS, {}, {'data-placeholder': '--Pilih Jam Selesai Meeting--', class: 'form-control selectpicker', 'data-live-search': 'true'} %>
                <span class="input-group-addon">
                    <i class="icmn-clock"></i>
                </span>

                <%= f.hidden_field :end_time, id: "select-end-time" %>
            </label>                                
        </div>
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Jam Selesai<span style="color: red">*</span></label>
        </div>
        <div class="col-md-4">
            <label class="input-group">
                <%= f.select :end_time, Weeding::HOURS, {}, {'data-placeholder': '--Pilih Jam Selesai Meeting--', class: 'form-control selectpicker', 'data-live-search': 'true'} %>
                <span class="input-group-addon">
                    <i class="icmn-clock"></i>
                </span>
            </label>                                
        </div>
    </div> 

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Jumlah Tamu<span style="color: red">*</span></label>
        </div>
        <div class="col-md-10">
            <%= f.number_field :number_guest, class: "form-control", :required => true %>
        </div>
    </div> 
   
    <div class="form-group row">
        <div class="col-md-12">
            <label class="form-control-label" style="color: red">*required</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12"></div>
    </div>
    <!-- skip: reset_password_token, reset_password_sent_at, remember_created_at -->

    <% if params[:action] == "new" || params[:action] == "create" %>
        <%= f.hidden_field :created_by, :value => current_user.id %>   
    <% else %>
        <%= f.hidden_field :updated_by, :value => current_user.id %>
    <% end %>

    <button type="submit" class="btn btn-sm btn-primary">
        Submit
    </button>
<% end %>
    
<%= content_for :css do %>

<% end %>

<%= content_for :js do %>
    <script>    
      $(document).ready(function() {          
          $('.select2').select2();
          $('.datepicker-only-init').datetimepicker({
            widgetPositioning: {
                horizontal: 'left'
            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'LL'
        });
      });
  </script>
<% end %>  