<section class="page-content">
<div class="page-content-inner">

    <!--  -->
    <section class="panel">
        <div class="panel-heading">
            <h3>
                Daftar User
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                      <%= link_to '<i class="icon-plus icon-white"></i>Create New'.html_safe, new_admin_user_path, class: "btn btn-sm btn-info" %>                    
                    <div class="col-xs-12">&nbsp;</div>
                    <br/>
                    <div class="margin-bottom-50">                        
                        <table class="table table-hover nowrap" id="example1" width="100%">
                          <thead>
                            <tr>
                              <th>Nama</th>
                              <th>Email</th>
                              <th>User Group</th>
                              <th>Aksi</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @users.each do |user| %>
                              <tr>
                                <td><%= link_to user.name,admin_user_path(user) %></td>
                                <td><%= user.email %></td>
                                <td><%= user.user_group ? user.user_group.name : '' %></td>
                                <td>
                                  <%= link_to edit_admin_user_path(user) do %>
                                    <i class="fa fa-edit"></i>
                                  <% end %>
                                  <%= link_to admin_user_path(user), method: :delete, data: {confirm: "are you sure?"} do %>
                                    <i class="fa fa-trash"></i>
                                  <% end %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End  -->

</div>
</section>