<div class="wrap-content container" id="container">
<!-- start: PAGE TITLE -->
<section id="page-title">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle">User Data Detail</h1>
      <span class="mainDeskripsi">Halaman untuk melihat detail User</span>
    </div>
    <ol class="breadcrumb">
      <li>
        <span>User View</span>
      </li>
      <li class="active">
        <span>View User</span>
      </li>
    </ol>
  </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: BASIC EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="panel panel-white">
                <div class="panel-heading">
                  <h5 class="panel-title">Detail User <%= @user.name %></h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tbody>                                      
                      <tr>
                        <td>Email</td>
                        <td><%= @user.email %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 space20">
        <a href="/admin/users/<%= params[:id] %>/edit" class="btn btn-sm btn-warning">
          Ubah <i class="fa fa-edit"></i>
        </a>
        <a href="/admin/users" class="btn btn-sm btn-info">
          Kembali <i class="fa fa-reply"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- end: BASIC EXAMPLE -->

<!-- start: DYNAMIC TABLE -->
<%= content_for :css do %>
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
<% end %>

<%= content_for :js do %>
<!-- end: JavaScript Event Handlers for this page -->
<% end %>