<%= form_for([:admin, @user], html: {class: "form-horizontal"}) do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>

    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">Name<span style="color: red">*</span></label>
        </div>
        <div class="col-md-1">
            <select class="form-control select2" id="title" name="title" style="width: 100%;">
                <option value="1">Mr</option>                                  
                <option value="2">Mrs</option>                                  
            </select>            
        </div>
        <div class="col-md-8">
            <%= f.text_field :name, class: "form-control", :required => true %>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">Email<span style="color: red">*</span></label>
        </div>
        <div class="col-md-9">
            <%= f.email_field :email, class: "form-control", :required => true %>
        </div>
    </div>        
    <% if params[:action] == "new" || params[:action] == "create" %>            
    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">Password<span style="color: red">*</span></label>
        </div>
        <div class="col-md-9">
            <%= f.password_field :password, class: "form-control", :required => true, :minlength => 8 %>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">Konfirmasi Password<span style="color: red">*</span></label>
        </div>
        <div class="col-md-9">
            <%= f.password_field :password_confirmation, class: "form-control", :required => true, :minlength => 8 %>
        </div>
    </div>
    <% end %>
    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">User Group<span style="color: red">*</span></label>
        </div>
        <div class="col-md-9">
            <%= f.select :user_group_id, options_from_collection_for_select(@user_groups, "id", "name", @user.user_group_id), {include_blank: "-- Select User Group --"}, {class: "select2 form-control", "data-live-search" => "true"} %>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="form-control-label" style="color: red">*required</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12"></div>
    </div>
    <!-- skip: reset_password_token, reset_password_sent_at, remember_created_at -->


    <% if params[:action] == "new" || params[:action] == "create" %>
        <%= f.hidden_field :created_by, :value => current_user.id %>   
    <% else %>
        <%= f.hidden_field :updated_by, :value => current_user.id %>
    <% end %>

    <button type="submit" class="btn btn-sm btn-primary">
        Submit
    </button>
    <% end %>
    
<%= content_for :css do %>

<% end %>

<%= content_for :js do %>
    
<% end %>  