<%= content_for :js do %>
  <script src="/backend/js/plugins/select2/select2.full.min.js"></script>
  <script>    
    $(document).ready(function() {
      $(".select2").select2();          
    });
  </script>
<% end %>

<%= content_for :css do %>
  <link href="/backend/css/plugins/select2/select2.min.css" rel="stylesheet">
<% end %>

<%= form_for(@user, url: "/users/"+@user.id.to_s+"/update_password", html: {class: "form-horizontal"}) do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>
    
    <div class="form-group  row"><label class="col-sm-2 col-form-label">Current Password</label>
        <div class="col-sm-10">
            <%= f.password_field :current_password, class: "form-control", :minlength => 8 %>
        </div>
    </div>    
    <div class="hr-line-dashed"></div>

    <div class="form-group  row"><label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <%= f.password_field :password, class: "form-control", :minlength => 8 %>
        </div>
    </div>    
    <div class="hr-line-dashed"></div>

    <div class="form-group  row"><label class="col-sm-2 col-form-label">Password Confirmation</label>
        <div class="col-sm-10">
            <%= f.password_field :password_confirmation, class: "form-control", :minlength => 8 %>
        </div>
    </div>    
    <div class="hr-line-dashed"></div>

    <div class="form-group row">
        <div class="col-md-12"></div>
    </div>

    <button type="submit" class="btn btn-o btn-primary">
        Submit
    </button>
<% end %>