<div class="wrap-content container" id="container">
<!-- start: PAGE TITLE -->
<section id="page-title">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle">Form Ubah User</h1>
    </div>
    <ol class="breadcrumb">
      <li>
        <span>User Forms</span>
      </li>
      <li class="active">
        <span>Form User</span>
      </li>
    </ol>
  </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: BASIC EXAMPLE -->
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="panel panel-white">
            <div class="panel-heading">
              <h5 class="panel-title">Form User</h5>
            </div>
            <div class="panel-body">
            <%= render "form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 space20">
      <a href="/admin/users" class="btn btn-sm btn-info">
        Kembali <i class="fa fa-reply"></i>
      </a>
    </div>
  </div>
</div>
<!-- end: BASIC EXAMPLE -->
</div>