<%= form_for([:admin, @weeding_photo], html: {class: "form-horizontal"}) do |f| %>
    <% if @weeding_photo.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@weeding_photo.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% @weeding_photo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="form-group row">
        <div class="col-md-2">
            <label class="form-control-label" for="l0">Upload Photo<span style="color: red">*</span></label>
        </div>
        <div class="col-md-10">
            <%= f.file_field :image, class: "form-control", :required => true %>
        </div>
    </div> 

    <div class="form-group row">
        <div class="col-md-3">
            <label class="form-control-label" for="l0">Jadikan Photo Utama</label>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="weeding_photo[order]" value="1" checked="">
                        Ya
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="weeding_photo[order]" value="0">
                        Tidak
                    </label>
                </div>
            </div>
        </div>
    </div>
   
    <div class="form-group row">
        <div class="col-md-12">
            <label class="form-control-label" style="color: red">*required</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12"></div>
    </div>
    <%= f.hidden_field :weeding_id, :value => params[:weeding_id] %>   

    <button type="submit" class="btn btn-sm btn-primary">
        Submit
    </button>
<% end %>
    
<%= content_for :css do %>

<% end %>

<%= content_for :js do %>
    <script>    
      $(document).ready(function() {          
          $('.select2').select2();         
      });
  </script>
<% end %>  